################################################################################
# Edited by yuntellite
################################################################################

*.mat
*.asv
*.fig
*.png
*.zip